*{
	margin:0;
	padding: 0;
	font-family: 'Your typeface';
}
body{
	
	width: 100%;
	height: auto;
	background: #FFFAFA

}
#header{
	transition-duration: 1s;
	transition: all 0.5s ease-in-out;
}
.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	font-family: awesome;
	transition-duration: 1s;
	transition: all 0.5s ease-in-out;
}

.logo-header{
	width: 100%;
	height: 40px;
	margin:40px 0px 45px 0px;
	
		box-sizing: border-box;
}
.logo-wrapper{
	width: 30%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.search-wrapper{
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border:1px solid #ccc;	
	box-sizing: border-box;
	padding-right: 0px !important;
	padding-left: 0px !important;
	box-shadow: 2px 2px 2px #ccc;
}
.search-wrapper form select{
	cursor: pointer;
	height: 30px;
	text-transform: uppercase;	
	border:none;
}
.search-wrapper form #search1{
	width: 70%;
	height: 30px;
	border:none;
	cursor: pointer;
	padding-left: 5px;
	box-sizing: border-box;
}
.shop-cart-wrapper{
	width: 80%;
	margin-left: 79px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border:1px solid #ccc;
	overflow: hidden;
	cursor: pointer;
}
.shop-cart-wrapper-left{
	width: 35%;
	background: #40bea7;
	float: left;

}
.shop-cart-wrapper-left .glyphicon-envelope{
	color: #fff;
}
.shop-cart-wrapper-right{
	width: 65%;
	text-align: center;
	float: left;
}
.footer-wrapper{
	position: relative;
	z-index: 100;
	
}
.shop-wrapper{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border:2px solid #ccc;
	border-top-color: #40bea7;
	position: absolute;
	top: 50px;
	left: 150px;
	display: none;
	background-color: #fff;
	
}
.footer-wrapper:hover .shop-wrapper{
	display: block;
}
.logo-wrapper,
.search-wrapper,
.shop-cart-wrapper{
	float: left;
	margin-bottom: 5px;
}	

/*-----------------------------------------MENU*/
.navbar{

	margin-bottom: 0px !important;
	position: relative;
	z-index: 2;
   	font-size: 16px;
}
.navbar-nav>li>a{
	padding-top: 18px !important;
	box-sizing: border-box;
}

.glyphicon-align-justify{
	font-size: 11px;
	position: relative;
	top:-0.5px !important;
	padding-right: 3px;
	box-sizing: border-box; 
}
.navbar-default .navbar-brand{
	padding: 7px 15px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 0px !important
}
.navbar>.container .navbar-brand{
	background: #40bea7;
	color: #fff;

}
.navbar-default .navbar-nav>li>a{
	color: #333333 !important;
	font-size: 14px;

}
.navbar-default .navbar-nav>li>a:hover{
	color: #000000 !important;
}
.dropdown-menu{
	padding:11px 0px !important;
}
.navbar-nav>li>.dropdown-menu{
	text-align: center;

}
.dropdown-menu>li>a{
	transition:all 0.2s ease-in-out;
	text-transform: uppercase;
	text-align: center;
}
.dropdown-menu>li:hover a{
	
	color: #40bea7;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.dropdown-menu{
	position: relative;
}
.menu-cap2{
	visibility: hidden;
	position: absolute;
	top: 15px !important;
	left: 231px !important;
	text-align: center;
}
.menu-cap1:hover .menu-cap2{
	visibility: visible;
}
.menu-cap3{
	visibility: hidden;
	position: absolute;
	top: 40px !important;
	left: 220px !important;
	text-align: center;
}
.menu-cap2:hover .menu-cap3{
	visibility: visible;
}
.menu-cap4{
	visibility: hidden;
	position: absolute;
	top: 40px !important;
	left: 220px !important;
}
.menu-cap1:hover .menu-cap4{
	visibility: visible;
}
/*---------------------------banner*/


/*------------hinh-anh*/
.hinh-anh{
	margin-top: 10px;
	width: 100%;
	height: 171px;
		
	padding: 0px !important;
}
.hinh-anh1,
.hinh-anh2,
.hinh-anh3{
	width: 33.333%;
	float: left;
	height: 171px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 0px !important;
	box-sizing: border-box;
}
.hinh-anh1>img,.hinh-anh2>img,.hinh-anh3>img{
	width: 100%;
	height: 171px;
	transition-duration: 0.5s;
}


.hinh-anh1>h4,.hinh-anh2>h4,.hinh-anh3>h4{
	text-align: center;
	position: absolute;
	font-weight: bold;
	font-size: 18px;
	top: 30%;
	right: 6%; 
	color: #fff;
}
.hinh-anh1:hover img,
.hinh-anh2:hover img,
.hinh-anh3:hover img{
	transform: scale(1.02);
}
/* --------------------------content*/
.content{
	margin-top: 10px;
	text-align: center;
	padding: 0px !important
}
.content-left{
	border: 1px solid #ccc;
	background: #fbfbfb;
	box-sizing: border-box;
	height: 818.75px;
	color: #000;
}
.content-left>h4{
	text-align: center;
	padding-top: 10px;
	font-weight: bold;

}
.content-left1{
	margin-top: 10px;
	padding-right: 3px !important;
    padding-left: 3px !important;
}
.content-left1-1{
	width: 40%;
	position: relative;
}
.content-left1-1 img{
	width: 100%;
	height: 110px;
}
.content-left1-2{
	width: 60%;
	text-align: center;
	font-size: 12px;
	padding-top: 6px;
	
}
.clear{
	clear: both;
}
.content-left1-1,
.content-left1-2{
	float: left;
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.content-left1-2 .glyphicon-star-empty{
	color: red;
	font-size: 10px;
	line-height: 10px !important;
}
.content-left-hinhanh{
	width: 100%;
	height: 330.5px;
	padding-right: 3px !important;
    padding-left: 3px !important;
	margin-top: 25px;
	text-align: center;
}
.content-left-hinhanh >img{
	width: 100%;
	height: 330.5px;

	box-sizing: border-box;
}
/*------------------Content right*/
.content-right{
	width: 100%;
	box-sizing: border-box;
	background: #fbfbfb;
	font-family: awesome;
	padding-right: 0px !important; 
     padding-left: 0px !important;
}	
.content-right1{
	width: 100%;
	height: 40px;
}
.glyphicon-chevron-left{
	width: 10%;
	height: 40px;
	line-height: 40px;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	cursor: pointer;
	color: #000;
}
.glyphicon-chevron-right{
	width: 10%;
	height:40px;
	line-height: 40px;
	text-align: right;
	cursor: pointer;
}
.abc{
	width: 80%;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
}
.glyphicon-chevron-left,
.abc,
.glyphicon-chevron-righ{
	float: left;
	
}

.glyphicon{
	line-height:40px !important;
}


.abc >li{
	list-style-type: none;
	width: 33.3%; 	
	height: 40px;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.abc >li>a{ 	
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding:3px;
	font-size: 15px;
}
.abc >li>a:hover{
	color:#999999;
}
/*-----------content-right2---*/
.content-right2{
	width: 100%;
	font-family: awesome;
	margin-top: 7px;
}
.row{
	width: 100%;
	padding-right: 0px !important; 
     padding-left: 0px !important;
}
.row1{
	width: 25%;
	
		
	box-sizing: border-box;
}
.row1 .hinhanh{
	width: 100%;
	
}
.row1 .hinhanh>img{
	width: 100%;
	cursor: pointer;
}
.row1 .noidung{
	width: 100%;
	text-align: center;
}
.row1 .noidung .glyphicon-star-empty{
	color: yellow;
	font-size: 11px;
	top: -13px !important;
}
.row1{
	float: left;
}
.row1 .noidung{
	 padding-top: 12px !important;
	 box-sizing: border-box;
}

/*-------------------left col-md-3 */
.left{
	border:1px solid #ccc;
	box-sizing: border-box;
	margin-top: 10px;
	background: #fbfbfb;
	font-family: awesome;
}
.left-noidung{
	text-align: center;
	font-family: awesome;
}
.left-img{
	text-align: center;
}
.left-img>img{
	width: 100px;
	height: 100px;
	border-radius: 50%;

}
.left-span{
	text-align: center;
}
/*--------------right-noidung*/
.right-noidung{
	margin-top: 10px;
	background: #fbfbfb;
	font-family: awesome;
	padding-top: 6px;
}
.right-noidung-img>img{
	width: 100%;
}
/*-------right-noidung-content*/
.right-noidung-content{
	width: 100%;
}
.right-noidung-content-1{
	padding: 10px;

}

.right-noidung-content-1-1>img{
	width: 100%;
	padding: 5px; 
	cursor: pointer;
}
.right-noidung-content-1-2{

	width: 100%;
	padding: 5px;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
}
.right-noidung-content-1-2 .glyphicon-star-empty{
	color: yellow;
	font-size: 11px;
	top: -13px !important;
}
/*----------right-noidung-content-2 */

.right-noidung-content-22{
	width: 100%;
	padding: 10px;
	box-sizing: border-box; 		
}
.right-noidung-content-2-1{
	width: 50%;
	padding: 5px;
}
.right-noidung-content-2-2{
	width: 50%;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}
.right-noidung-content-2-2>.glyphicon-star-empty{
	color: yellow;
	font-size: 11px;
	top: -13px !important;
}
.right-noidung-content-2-1,
.right-noidung-content-2-2{
	float: left;
}
.right-noidung-content-2-1>img{
	width: 100%;
	cursor: pointer;
}
/*--------------our-brands*/
.our-brands{
	text-align: center;
	width: 100%;
	height: 420px;
		
}
.our-brands-img{
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	animation-name: phuc;
	animation-duration:  2s;
	animation-iteration-count: infinite;
}
@keyframes phuc{
	0% {opacity: 0;
		transform: translateX(-10px);
	}
	50% {opacity:1;
		transform: translateX(0px);
	}
	75% {opacity: 0.5;
		transform: translateX(-10px);
	}
	100% {opacity: 1;
		transform: translateX(0px);
	}
}
.our-brands-img>img{
	width: 100%;
	height: 200px;

}
.our-brands-img1{
	width: 50%;
	height: 65px;
	font-weight: bold;
	float: left;
	
}
.our-brands-img1>img{
	width: 100%;
	height: 65px;
}
/*--------right-noidung-banner*/
.right-noidung-banner{
	width: 100%;
	height: 219px;
	background: rgba(198,226,255,0.5);
	text-align: center;
	padding: 10px 0px 10px 10px;
	font-family: Lato;
}
.right-noidung-banner2{
	width: 100%;
	padding-left:10px;
	padding-right:10px;
}
.right-noidung-banner2-text{
	width: 80%;
	float: left;
	padding: 3px;
	box-sizing: border-box;
}
.right-noidung-banner2-button{
	width: 20%;
	float: left;
	padding: 3px;
	box-sizing: border-box;
	letter-spacing: 0.25px;
	position: relative;
	z-index: 1;
}
.right-noidung-banner2-button> .btn-default{
	background-color: #3f3f3f !important;
	color: #fff;
	position: relative;
	z-index: 10;
}
.right-noidung-banner2-button> .btn-default:hover{
	background:transparent !important;
	color: #fff;
}
/*banner-main-1*/
.banner-main{
	width: 100%;
	padding: 0px !important;
}
.banner-main-1{
	width: 50%;
	height: 224px;
	float: left;
	margin-top: 10px;
	padding: 0px !important;
	background: #fbfbfb;
	position: relative;
	cursor: pointer;

}
.banner-main-1 .banner-main-1-1{
	width: 100%;
	overflow: hidden;
}
.banner-main-1 .banner-main-1-1 img{
	width: 100%;
	height: 224px;
	transition-duration: 1s;
	transition-delay: 0.1s;
	
}
.banner-main-1 .banner-main-1-1:hover img{
	transform: scale(1.1);
}
.banner-main-noidung{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 20%;
	color: #fff;
	right: 10%;
	font-family: awesome; 
}
.banner-main-noidung p{
	transition-duration: 1s;
	transition-delay: 0.1s;
	font-family: awesome;
}
.banner-main-noidung:hover p{
	color: #FF3030;
	transform: skew(10deg);
	transform: scale(1.3);
	opacity: 0.7
}
/*shortcode-heading-wrapper */
.shortcode-heading-wrapper {
	width: 100%;
	height: 65px;
	line-height: 65px;
	padding-top: 17px
}
.icon1{
	width: 20%;
	font-size: 20px;
	color: #40bea7;
}
.icon2{
	width: 20%;
	font-size: 20px;
	color: #40bea7;
	text-align: right;
}
.heading-tittle{
	text-shadow: 1px 1px 1px black
}
.icon1,
.icon2,
.heading-tittle{
	float: left;
	transition-duration: 1s;
}
.heading-tittle{
	width: 60%;
	text-align: center;
	font-family: awesome;
}
.icon1:hover,
.icon2:hover{
	font-size: 30px;
}
/*#back-to-top*/

#back-to-top {
	width: 50px;
	height: 50px;
	background: #FFFF66;
	border-radius: 50%;
	position: fixed;	
	bottom: 10px;
	right: 10px;
	display: none;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}
#back-to-top > span.glyphicon-arrow-up{
	font-size: 20px;
    color: #fff;
    top: 0%;
    left: -1%;

}
#back-to-top:hover{
	color: black;
}
/*thumbnail*/
.thumbnail{
	cursor: pointer;
	border: 0 !important;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.thumbnail .img1{
	width: 100%;
	overflow: hidden;
	transition:all 0.5s ease;
}
 .thumbnail:hover .img1{
	transform: rotate(15deg);
	
}
.hinh{
	padding: 0 !important;
	

}
.row{
	margin-top:10px !important; 
	margin-bottom:20px !important;
	margin-left: 0 !important;
	margin-right: 0 !important
}
.caption{
	position: relative;
	z-index: 1;
	border:1px ridge #ccc;
	border-top: 0;
}
/*Footer*/
.footer-1{
	text-align: center;	

}
.footer-logo{
	text-align: center;
	margin-top: 20px;
	
}
.footer-logo-1{
	padding: 10px
}
#footers{
	background: #000000cc;
	color: #fff;
	font-family: awesome;
}
.footer-1>h3{
	color: white;
	text-shadow: 1px 1px 1px white;
}

.footer-1>span>i{
	border: 1px solid #ccc;
	margin:3px;
	background: #cccccc;
	cursor: pointer;
}
.footer-1>span>i:hover{
	background:black;
}
.banner-footer{
	
	background-image: url(http://demo.theme-sky.com/gon/wp-content/uploads/2014/09/bg-video-home-main.jpg);
}

/*reponsize*/
/*for mobile*/
@media (max-width: 575px) { 
  #jssor_1{
  	display: none;
  }
  #search1{
  	display: none
  } 
  .shop-cart-wrapper{
  	display: none;
  }
  .logo-header{
		margin-bottom: 10px !important;
	
}
  .content-right1 {
    	display: none;
    }
   .right-noidung-banner2-button{
   	visibility: hidden;
   }
   .hinh-anh1,
   .hinh-anh2,
   .hinh-anh3{
   	margin-top: 10px;
   }
   .hinh-anh1>h4,
   .hinh-anh2>h4,
   .hinh-anh3>h4{
   	font-size: 13px;
   }
   .logo-header{
   	margin-bottom: 10px;
   }
   .navbar{
   	display: none;
   }

    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

/*for big phone and tablet mini*/
@media (min-width: 576px) and (max-width: 767px) { 
	 #jssor_1{
  	display: none;
  }
	.logo-header{
   	margin-bottom: 10px !important;
   }
  
    .content-right1 {
    	display: none;
    }
     .shop-cart-wrapper{
  	display: none;
  }
  .right-noidung-banner2-button{
   	visibility: hidden;
   } 
   .hinh-anh1,
   .hinh-anh2,
   .hinh-anh3{
   	margin-top: 10px;
   }
   
   .hinh-anh1>h4,
   .hinh-anh2>h4,
   .hinh-anh3>h4{
   	font-size: 13px;
   }
   #bs-example-navbar-collapse-1>.navbar-nav>.abcde>a{
  display: none;
   }
   
 
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/*for tablet*/
@media (min-width: 768px) and (max-width: 991px) { 
	 #jssor_1{
  	display: none;
  }
	.banner-abc>img{
		width: auto;
		height: 100%
	}
	.logo-header{
   	margin-bottom: 10px !important;
   }
   .hinh-anh1,
   .hinh-anh2,
   .hinh-anh3{
   	margin-top: 10px;
   }
   .hinh-anh1>h4,
   .hinh-anh2>h4,
   .hinh-anh3>h4{
   	font-size: 13px;
   }
   #bs-example-navbar-collapse-1>.navbar-nav>.abcde>a{
   	display: none;
   }
   .navbar-default .navbar-brand{
   	display: none
   }

  

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
	

/*for desktop*/
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-default .navbar-brand{
   	display: none
   }
	 #jssor_1{
  	display: none;
  }
	.content-left{
		height: 768.75px;
	} 
	.content-left-hinhanh{
		 height: 277.5px;
	}
	.content-left-hinhanh >img {
    width: 100%;
    height: 277.5px;
    box-sizing: border-box;
}

	 #search1{
  	display: none
  } 
  #bs-example-navbar-collapse-1>.navbar-nav>.abcde>a{
   	display: block;
   }
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

/*for large desktop*/
@media (min-width: 1200px) {
   
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}
@font-face {
font-family: "Your typeface";
src: url("type/filename.eot");
src: local("Your typeface"),
url("type/filename.woff") format("woff"),
url("type/filename.otf") format("opentype"),
url("type/filename.svg#filename") format("svg");
}
.caption>h3{
	font-family:  Lato Black;font-size: 20px;font-weight: bold
}
